{% extends 'car_dealer/base.html' %}
{% block content %}
<div class="w3-bar w3-black w3-large">
  <div class="w3-bar-item w3-left w3-black">Dealer Portal: {{ dealer.user.username }}</div>
  <a class="w3-bar-item w3-btn w3-teal w3-right" href="/car_dealer_portal/logout/">Logout</a>
  <a class="w3-bar-item w3-btn w3-teal w3-right " href="/car_dealer_portal/auth/">Home</a>
  <a class="w3-bar-item w3-btn w3-teal w3-right" href="/car_dealer_portal/order_list/">Orders</a>
  <a class="w3-bar-item w3-btn w3-teal w3-right" href="/car_dealer_portal/manage_vehicles/">Vehicles</a>
  <a class="w3-bar-item w3-btn w3-teal w3-right" href="/car_dealer_portal/history/">Earnings</a>
</div>

<h3 class="w3-center" style="padding-top:30"><b>Earnings History</b></h3>

<div style="padding: 18px;">
  <p>Total Earnings: ${{ total_earnings }}</p>
  <table class="w3-table w3-striped w3-centered">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Customer</th>
        <th>Vehicle</th>
        <th>Total Amount</th>
        <th>Date Completed</th>
      </tr>
    </thead>
    <tbody>
      {% for order in order_list %}
      <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.customer }}</td>
        <td>{{ order.vehicle }}</td>
        <td>${{ order.total_amount }}</td>
        <td>{{ order.date_completed }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
