{% extends 'dealer/base.html' %}
{% block content %}
{% load static %}

<div class="w3-bar w3-large w3-black">
  <a class="w3-bar-item w3-left w3-black" href="{% url 'dealer_home_page' %}">Dealer Portal: {{ dealer.user.username }}</a>
  <a class="w3-bar-item w3-btn w3-teal w3-right" href="/dealer_portal/logout/">Logout</a>
</div>

<div class="w3-container">
  <h2>Dealer Home Page</h2>
  <div class="w3-row">
    <div class="w3-col s6">
      <a href="{% url 'add_uas_page' %}" class="w3-btn w3-green w3-block">Add UAS</a>
    </div>
    <div class="w3-col s6">
      <a href="{% url 'lease_history_page' %}" class="w3-btn w3-blue w3-block">Lease History</a>
    </div>
  </div>
  <div class="w3-row" style="margin-top: 20px;">
    <div class="w3-col s6">
      <a href="{% url 'uas_list_page' %}" class="w3-btn w3-orange w3-block">UAS List</a>
    </div>
  </div>
</div>

{% endblock %}
