{% extends 'customer/base.html' %}
{% block content %}
<div class="w3-bar w3-large w3-black">
  <div class="w3-bar-item w3-left w3-black">Merhaba: {{ user.username }}</div>
  <a class="w3-bar-item w3-btn w3-teal w3-right" href="/customer_portal/logout/">Çıkış </a>
  <a class="w3-bar-item w3-btn w3-teal w3-right" href="/customer_portal/manage/">Kiralamalar</a>
  <a class="w3-ber-item w3-btn w3-teal w3-right" href="/customer_portal/search/">İha Ara</a>
</div>

<div class="w3-display-container" style="height:400px;">
  <div class="w3-display-middle">
    <h3><b>Kiralama Onayla!</b></h3>
    <b>IHA Siparişiniz İşleme Alınacak.</b><br><br>
    <b>Toplam Kiralama:</b> ₺{{ lease.total_cost }}<br><br>
    <b>IHA :</b> {{ lease.uas.iha_name }}<br><br>
    <b>Kiralama Süresi :</b> {{ lease.total_days }} gün {{ lease.total_hours }} saat<br><br>
    <b>Kiralama Tarihi :</b> {{ lease.start_datetime }}<br><br>
    <b>Kiralama Bitiş Tarihi :</b> {{ lease.end_datetime }}<br><br>
    <b>Kiralama Ücreti :</b> ₺{{ lease.total_cost }}<br><br>
    <b>Kiralama Durumu :</b> {{ lease.status }}<br><br>
    <b>Kiralama Numarası :</b> {{ lease.id }}<br><br>
    <b>Kiraladığınız İhanın' Dealer'ı :</b> {{ lease.dealer.user.first_name }} {{ lease.dealer.user.last_name }}<br><br>
    <b>Kiralayan iletişim numarası:</b> {{ lease.dealer.user.phone }}<br><br>
    <form action="{% url 'confirm_lease' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="lease_id" value="{{ lease.id }}">
      <button type="submit">Onayla</button>
    </form>
  </div>
</div>
{% endblock %}
