{% extends 'customer/base.html' %}
{% block content %}
<div class="w3-bar w3-large w3-black">
  <div class="w3-bar-item w3-left w3-black">Merhaba: {{user.username}}</div>
  <a class="w3-bar-item w3-btn w3-teal w3-right" href="/customer_portal/logout/">Çıkış </a>
  <a class="w3-bar-item w3-btn w3-teal w3-right" href="/customer_portal/manage/">Kiralamalar</a>
  <a class="w3-ber-item w3-btn w3-teal w3-right" href="/customer_portal/search/">İha Ara</a>
</div>
{% csrf_token %}

<div class="w3-display-container" style="height:400px;">
  <div class="w3-display-middle">
<h3><b>Kiralama tamamlandı!</b></h3>
<b>IHA Siparişiniz İşleme Alındı!</b><br><br>
<b>Toplam Kiralama:</b> ₺{{order.rent}}<br><br>
<b>IHA :</b> {{order.vehicle.iha_name}}<br><br>
<b>Kiralama Süresi :</b> {{order.days}} <br><br>
<b>Kiralayan :</b> {{order.dealer.dealer.first_name}} {{order.dealer.dealer.last_name}}<br><br>
<b>Kiralayan iletişim numarası:</b> {{order.dealer.mobile}}<br><br>
</div>
</div>
{% endblock %}
