{% extends 'car_dealer/base.html' %}
{% block content %}
<div class="w3-bar w3-black w3-large">
  <div class="w3-bar-item w3-left w3-black"> Dealer Portal: {{ dealer.user.username}}</div>
  <a class="w3-bar-item w3-btn w3-teal w3-right" href="portal/logout/">Logout</a>
  <a class="w3-bar-item w3-btn w3-teal w3-right " href="portal/dealer_home_page/">Home</a>
  <a class="w3-bar-item w3-btn w3-teal w3-right" href="/portal/order_list/">Lease</a>
  <a class="w3-bar-item w3-btn w3-teal w3-right" href="/dealer_uas_list">Iha</a>
  <a class="w3-bar-item w3-btn w3-teal w3-right" href="/car_dealer_portal/history/">Earnings</a>
</div>
<h3 class="w3-center" style="padding-top:30"><b>Posted Uas</b></h3>
<div style="padding:18">
<table class="w3-table w3-striped w3-center">
  <tr>
    <th style="padding:20;">Brand </th>
    <th style="padding:20;">Model </th>
    <th style="padding:20;">Range </th>
    <th style="padding:20;">Wingspan </th>
    <th style="padding:20;">Length</th>
    <th style="padding:20;">Max_speed</th>
    <th style="padding:20;">Category</th>
    <th style="padding:20;">Actions</th> <!-- Yeni sütun ekle: Actions -->
  </tr>
  {% for uas in uas_list %}
  <tr>
      <td>{{ uas.brand }}</td>
      <td>{{ uas.model }}</td>
      <td>{{ uas.range }} km</td>
      <td>{{ uas.wingspan }} m</td>
      <td>{{ uas.length }} m</td>
      <td>{{ uas.max_speed }} km/h</td>
      <td>{{ uas.category }}</td>
      <td>
        <form action="/car_dealer_portal/delete/" method="post">
          {% csrf_token %}
          <input type="hidden" name="id" value="{{ uas.id }}">
          <input class="w3-btn w3-red" type="submit" value="Delete">
        </form>
      </td>
  </tr>
{% endfor %}
</table>
</div>
{% endblock %}
